.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* .countries {
  display: flex;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
} */

.searchBtn {
  border: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.search {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  margin: 20px;
}

/* .country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  
} */